p {color: blue; text-align: center} /* Para definir el color y alineación de un párrado */
#texto1 {font-size: 30px; color: chartreuse; text-align: justify;} /* El "# + texto" sirve para crear un nuevo ID de etiqueta de estilo */
.texto2 {font-size: 20px; color: rgb(236, 202, 11); text-align: justify;} /* El ". + texto" sirve para crear una nueva clase de etiqueta de estilo */
